.contendCard1 {
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 10px 63px -14px rgba(219, 219, 219, 1);
  min-width: auto;
  margin: 10px;
  height: auto;
  padding: 2px;
  /* overflow: hidden */
}

.contendCard2 {
  background-color: var(--menta);
  border-radius: 15px;
  box-shadow: 10px 10px 63px -14px rgba(219, 219, 219, 1);
  min-width: auto;
  margin: 10px;
  height: auto;
  padding: 2px;
}

.contendCard3 {
  background-color: var(--naranjaClaro);
  border-radius: 15px;
  box-shadow: 10px 10px 63px -14px rgba(219, 219, 219, 1);
  min-width: auto;
  margin: 10px;
  height: auto;
  padding: 2px;
}

.contendCard4 {
  background-color: var(--barbecue);
  border-radius: 15px;
  box-shadow: 10px 10px 63px -14px rgba(219, 219, 219, 1);
  min-width: auto;
  margin: 10px;
  height: auto;
  padding: 2px;
}

.contendCard5 {
  background-color: var(--azulBrillante);
  border-radius: 15px;
  box-shadow: 10px 10px 63px -14px rgba(219, 219, 219, 1);
  min-width: auto;
  margin: 10px;
  height: auto;
  padding: 2px;
}

.contendCard6 {
  background-color: var(--rojoSayonara);
  border-radius: 15px;
  box-shadow: 10px 10px 63px -14px rgba(219, 219, 219, 1);
  min-width: auto;
  margin: 10px;
  height: auto;
  padding: 2px;
}

.contendCard7 {
  background-color: var(--amarillo);
  border-radius: 15px;
  box-shadow: 10px 10px 63px -14px rgba(219, 219, 219, 1);
  min-width: auto;
  margin: 10px;
  height: auto;
  padding: 2px;
}

.namePDV {
  text-align: center;
  font-size: 1.3rem;
  background-color: var(--amarillo);
}

.namePDV2 {
  text-align: center;
  font-size: 1.3rem;
  background-color: var(--rojoSayonara);
  color: white
}

.namePDV3 {
  text-align: center;
  font-size: 1.3rem;
  background-color: var(--barbecue);
  color: white
}

.namePDV4 {
  text-align: center;
  font-size: 1.3rem;
  background-color: var(--azulBrillante);
}

.namePDV5 {
  text-align: center;
  font-size: 1.3rem;
  background-color: var(--naranjaClaro);
}

.namePDV6 {
  text-align: center;
  font-size: 1.3rem;
  background-color: var(--menta);
}

.namePDV6 {
  text-align: center;
  font-size: 1.3rem;
  background-color: var(--naranja);
  color: white
}

.namePDV7 {
  text-align: center;
  font-size: 1.3rem;
  background-color: var(--green);
  color: white
}