.contendCard1 {
  min-width: auto;
  margin: 10px;
  height: auto;
  padding: 2px;
  /* overflow: hidden */
}

.contendInfoPDV {
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 10px 63px -14px rgba(219, 219, 219, 1);
  margin: 5px;
  padding-bottom: 5px;
}

.namePDV {
  text-align: center;
  font-size: 1.3rem;
  background-color: var(--amarillo);
  margin: 5px;
  padding: 0;
  margin: 5px 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.namePDV2 {
  text-align: center;
  font-size: 1.3rem;
  background-color: var(--rojoSayonara);
  color: white;
  margin: 5px;
  padding: 0;
  margin: 5px 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.namePDV3 {
  text-align: center;
  font-size: 1.3rem;
  background-color: var(--barbecue);
  color: white;
  padding: 0;
  margin: 5px 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.namePDV4 {
  text-align: center;
  font-size: 1.3rem;
  background-color: var(--azulBrillante);
  margin: 5px;
  padding: 0;
  margin: 5px 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.namePDV5 {
  text-align: center;
  font-size: 1.3rem;
  background-color: var(--naranjaClaro);
  margin: 5px;
  padding: 0;
  margin: 5px 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.namePDV6 {
  text-align: center;
  font-size: 1.3rem;
  background-color: var(--menta);
  margin: 5px;
  padding: 0;
  margin: 5px 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.namePDV6 {
  text-align: center;
  font-size: 1.3rem;
  background-color: var(--naranja);
  color: white;
  margin: 5px;
  padding: 0;
  margin: 5px 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.namePDV7 {
  text-align: center;
  font-size: 1.3rem;
  background-color: var(--green);
  color: white;
  margin: 5px;
  padding: 0;
  margin: 5px 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.namePDV8 {
  text-align: center;
  font-size: 1.3rem;
  background-color: var(--azulBrillante);
  color: rgb(18, 18, 18);
  margin: 5px;
  padding: 0;
  margin: 5px 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}