.contendInfodelivery {
  margin: 0px 20px;
  display: flex;
  font-weight: bold;
  align-items: center;
  text-align: center;
}

.contePromise {
  display: flex;
  justify-content: space-around;
  background-color: rgba(67, 230, 124, 0.448);
  border-radius: 20px;
  align-items: center;
  width: 50%;
  font-size: 3vw;
  margin: 0px 5px;
  padding: 0;
}

.contePromise2 {
  display: flex;
  justify-content: space-between;
  background-color: rgba(5, 149, 5, 0.48);
  border-radius: 20px;
  align-items: center;
  width: 50%;
  font-size: 3vw;
  margin: 0px 5px;
}

.contePromise3 {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 0, 0.426);
  border-radius: 20px;
  align-items: center;
  width: 50%;
  font-size: 3vw;
  margin: 0px 5px;
}

.contePromise4 {
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 0, 0, 0.426);
  border-radius: 20px;
  align-items: center;
  width: 50%;
  font-size: 3vw;
  margin: 0px 5px;
}

.reacticons {
  font-size: 2vw;
  color: white
}


.contePromise p {
  padding: 5px;
  margin: 5px;

}

.contePromise h3 {
  padding: 5px;
  margin: 5px;
}

.contePromise2 p {
  padding: 5px;
  margin: 5px;
  color: white
}

.contePromise2 h3 {
  padding: 5px;
  margin: 5px;
}


.activeToGray {
  background-color: rgb(218, 217, 217);
  display: flex;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}