.conteListProducts {
  display: flex;
  justify-content: space-around;
}

.conteListProducts p {
  font-size: 1.2vw;
  text-transform: lowercase;
}

.productsSoldOut {
  /* background-color: rgba(255, 0, 0, 0.236); */
  text-align: left;
  font-size: 1.2vw;
  line-height: 40px;
}

.productsSuggest {
  /* background-color: rgba(39, 239, 65, 0.236); */
  text-align: left;
  font-size: 1.2vw;
  line-height: 40px;
}

.conteProducts {
  width: 42%;
}

.titleList {
  font-size: 1.2vw;
  align-items: center;
  justify-content: center;
}

.titleList p {
  font-size: 40px;
}