.conteListProducts {
  display: flex;

}

.conteListProducts p {
  font-size: 1.8vw;
  text-transform: lowercase;
  line-height: 35px;
  margin: 5px;
}

.productsSoldOut {
  /* background-color: rgba(255, 0, 0, 0.236); */
  text-align: left;

}

.productsSuggest {
  /* background-color: rgba(39, 239, 65, 0.236); */
  text-align: left;

}

.conteProducts {
  width: 45%;
  margin: 10px;
}

.titleList {
  font-size: 1.2vw;
  align-items: center;
  justify-content: center;
}

.titleList p {
  font-size: 40px;
}