.contentNotSoldout {
  background-color: #05daff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imgNotSoldout {
  width: 30%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.textNotSoldout {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}