* {
  font-size: 1.3vw;
}

/* body {
  overflow-x: hidden;
} */

.cardContend {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.cardCircunavalar {
  background-color: aqua;
}

.cardAvAgosto {
  background-color: #ffc107;
}

:root {
  --rojoSayonara: #d62a2d;
  --barbecue: #7a1520;
  --naranja: #e94e1b;
  --naranjaClaro: #ec671a;
  --amarillo: #FDC533;
  --azulBrillante: #63c3d1;
  --menta: #88cccc;
  --green: green
}