* {
  font-size: 1.3vw;
  margin: 0px;
  padding: 0px;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #f2fdff8a;
}

.cardContend {
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 0.5rem;


  /* flex-wrap: wrap; */
}

.cardContendAll {
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

}

.cardCircunavalar {
  background-color: aqua;
}

.cardAvAgosto {
  background-color: #ffc107;
}

:root {
  --rojoSayonara: #d62a2d;
  --barbecue: #7a1520;
  --naranja: #e94e1b;
  --naranjaClaro: #ec671a;
  --amarillo: #FDC533;
  --azulBrillante: #63c3d1;
  --menta: #88cccc;
  --green: green
}

.alert {
  background: var(--amarillo);
}

.select-pdv {
  display: flex;
  flex-direction: column;
}

.btnSelectPDV {
  background-color: transparent;
  border-radius: 5px;
  width: auto;
  margin: 10px;
  height: auto;
  padding: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  color: white;
}

.btnSelectPDV:hover {
  text-decoration: underline;
  color: white;
  transform: translateY(3px)
}

/* .conteSelectPDV {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--barbecue);
  height: 2rem;
} */

.logoSayo {
  width: auto;
  height: 100px;
  margin: 0;
  margin-right: 3.5rem;
}

.conteWindow {
  display: flex;
  width: 100vw;
  height: 100vh;
}